body, html {
  margin: 0;
  padding: 0;
  font-family: Muli,sans-serif;
  background: linear-gradient(#f2f2f2 50%, transparent 50%);
  height: 100vh;
  background-repeat: no-repeat;
  color: #1a1a1a;
}

h1 {
  font-size: 24px;
}